.env
.env.local

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
#staticfiles/

# Virtualenv
venv/
.env

# Celery Beat 排程資料庫
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule-wal
celerybeat-schedule-shm
celerybeat-schedule.*


*.swp


# media/


